$theme-colors: (
  "primary": #6c5dd3,
  "text": #434345,
  "link": #5f75ee
);
$colors: (
  'orange': #dc9948,
  'green': #44ac30,
  'purple': #ae61d0
);
$sidebar-width: 263px;

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/_alert";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_close";
@import "~bootstrap/scss/_dropdown";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_grid";
@import "~bootstrap/scss/_nav";
@import "~bootstrap/scss/_navbar";
@import "~bootstrap/scss/_transitions";
@import "~bootstrap/scss/_utilities";
@import "fonts";

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: theme-color("text");
}
a {
  color: theme-color("link");
  &:hover {
    text-decoration: none;
    transition-duration: .3s;
  }
}

h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 30px;
  font-weight: bold;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  font-weight: bold;
}
h6 {
  font-size: 14px;
  font-weight: bold;
}

input {
  font-size: 14px;
  height: auto;
  padding: 9px 15px;
  border-radius: 10px;
  border-color: #f4f4f4;
}
.form-control {
  @extend input;
}
label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
}
.form-group {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 25px;
}
.btn {
  font-weight: 500;
  padding: 9px 27px;
  border-radius: 12px;
  font-size: 14px;
  min-width: 110px;
  margin: 0 10px;
  &.btn-outline-primary {
    border: 1px solid theme-color("primary");
  }
  &[type=submit] {
    margin: 0;
  }
  &:hover {
    background-color: darken(theme-color("primary"), 10%);
  }
  &:focus {
    background-color: darken(theme-color("primary"), 10%);
  }
}

.orange {
  background-color: lighten(color('orange'), 40%);
  color: color('orange') !important;
  & > a {
    color: color('orange');
  }
}
.green {
  background-color: lighten(color('green'), 50%);
  color: color('green') !important;
  & > a {
    color: color('green');
  }
}
.purple {
  background-color: lighten(color('purple'), 30%);
  color: color('purple') !important;
  & > a {
    color: color('purple');
  }
}
.row.wrapper{
  position: relative;
}
.user-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 44px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 28px;
  border: #fff 4px solid;
  text-align: center;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  &.small {
    width: 40px;
    height: 40px;
    line-height: 34px;
    font-size: 16px;
    margin-right: 10px;
  }
}
.page-content {
  width: calc(100% - #{$sidebar-width});
  background-color: #f7f7f7;
  .content {
    padding-right: 0;
    padding-left: 0;
  }
}
.sub-footer {
  font-size: 14px;
  color: #69696b;
  a {
    color: #69696b;
  }
  padding-left: 263px;
}
.footer {
  background-color: theme-color("primary");
  padding-top: 40px;
  color: #fff;
  padding-left: $sidebar-width;
  a {
    color: #fff;
    &.about-us {
      font-size: 18px;
    }
    &.email {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .logo {
    font-weight: 400;
    font-size: 14px;
    img {
      height: 45px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .patreon {
    background-color: #fff;
    border-radius: 12px;
    color: theme-color("primary");
    padding: 12px;
    p {
      margin-bottom: 5px;
    }
  }
  .second {
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px 10px 10px;
    margin-top: 30px;
    .stripe {
      display: block;
      height: 1px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 10px;
    }
  }
  .top-padding {
    padding-top: 30px;
  }
}
.main {
  padding-bottom: 30px;
}
.wh100 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.logo {
  padding: 22px 16px;
  img {
    height: 60px;
  }
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}

@media (max-width: 1199.98px) {
  .footer, .sub-footergit  {
    padding-left: 0;
  }
}
@media (max-width: 991.98px) {
  .page-content {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .container-fluid.in-frame {
    padding-left: 45px;
    padding-right: 45px;
  }
}
