.navbar {
  margin-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
}
.navbar-nav, .nav {
  &>li:not(:last-child) {
    margin-right: 30px;
    &>a:not(.btn) {
      color: #69696b;
    }
  }
  &.right {
    margin-top: 20px;
  }
  .dropdown-menu {
    left: auto;
    right: 0;
    padding: 10px;
    border: none;
    border-radius: 12px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
  .dropdown-toggle::after {
    content: none;
    display: none;
  }
  .icon-large {
    font-size: 36px;
    line-height: 56px;
    vertical-align: text-bottom;
  }
  .notifications {
    display: inline-block;
    vertical-align: baseline;
    font-size: 48px;
    &>a {
      position: relative;
    }
    #unread-notifications {
      position: absolute;
      top: 0;
      right: -2px;
      font-size: 12px;
      line-height: 24px;
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 13px;
      color: #fff;
      background-color: #fcbc6f;
      text-align: center;
    }
  }
  .welcome-box {
    color: theme-color("text");
    position: relative;
    h3 {
      font-weight: 600;
      margin-bottom: 0;
    }
    h2 {
      font-weight: 900;
      font-size: 40px;
    }
  }
  .btn {
    font-weight: 500;
    padding: 11px 34px;
    border-radius: 12px;
    span[class^="iconly"] {
      font-size: 27px;
      vertical-align: sub;
      padding-right: 5px;
    }
    &:before {
      font-size: 21px;
      margin-right: 3px;
      vertical-align: text-bottom;
    }
  }
  .nf-dropdown {
    padding: 10px;
    background-color: #fff;
    border-radius: 12px;
    max-height: 500px;
    overflow-y: auto;
    padding-bottom: 30px;
    .nf {
      font-size: 14px;
      min-width: 396px;
      padding: 20px;
      border-radius: 12px;
      color: #adafba;
      position: relative;
      a, .date {
        color: #adafba;
      }
      u {
        display: block;
        font-size: 16px;
        font-weight: bold;
        color: theme-color("text");
        text-decoration: none;
      }
      .nf-info {
        margin-right: 40px;
      }
      l {
        color: theme-color("text");
      }
      .close {
        visibility: hidden;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        padding: 0;
        margin: 0;
        min-width: auto;
      }
      &:hover {
        background-color: theme-color("primary");
        color: #fff;
        position: relative;
        a, u, l, .date{
          color: #fff;
        }
        .close {
          visibility: visible;
          background: none;
        }
      }
    }
    .all-btn {
      margin-top: 15px;
    }
  }
}
.nav {
  flex: 0 0 100%;
}
@media (max-width: 991.98px) {
  .navbar-nav {
    &.right {
      display: none;
    }
    .welcome-box h2 {
      font-size: 18px;
    }
  }
  .btn.list-create {
    font-size: 0;
    padding-left: 5px;
    padding-right: 5px;
    &:before {
      font-size: 24px;
      margin: 0;
    }
  }
  .nav .notifications {
    position: inherit;
  }
  .navbar-nav .nf-dropdown, .nav .nf-dropdown {
    padding: 0;
    width: 100%;
    .nf {
      .close {
        visibility: visible;
        color: theme-color("primary");
      }
    }
  }
  .menu-mobile ul {
    list-style: none;
    li {
      padding-bottom: 20px;
      a {
        color: #434345;
        font-size: 16px;
        font-weight: 700;
        &:before {
          margin-right: 15px;
          font-size: 24px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .navbar-nav .nf-dropdown .nf, .nav .nf-dropdown .nf {
    min-width: auto;
  }
}