.tls {
  .tl {
    background-color: #fff;
    padding: 11px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    .link {
      display: flex;
      color: theme-color("text");
      font-size: 16px;
      font-weight: 700;
    }
    .form-group {
      margin-bottom: 0;
    }
    .label {
      padding: 5px;
      border-radius: 10px;
      height: 32px;
      width: 32px;
      display: block;
      text-align: center;
      margin-right: 10px;
      &.shared {
        background-color: #e7f5f9;
        color: #7dc2d7;
      }
    }
    .list-archive.btn, .list-delete.btn {
      &:before {
        font-size: 0;
      }
    }
  }
  #loader {
    margin-bottom: 15px;
  }
}
.t-l-sidebar {
  .t-l-s-block {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
  }
  .u-links {
    border: none;
    padding: 0;
    .u-link {
      border: 1px solid transparent;
      padding: 8px 16px;
      &.active {
        border-color: theme-color("primary");
      }
    }
  }
}
.white-block {
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.sf {
  position: relative;
  input {
    border-radius: 12px;
    background-color: #fff;
    padding: 12px 24px 12px 42px;
    border: none;
    margin-bottom: 30px;
    width: 600px;
    max-width: 100%;
    &:focus{
      outline: none;
    }
  }
  &:before {
    font-family: "Iconly-Broken";
    content: "\e94d";
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    color: theme-color("text");
  }
}
.ti {
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  .tiq, .tin {
    padding: 8px 15px;
  }
  &.completed {
    opacity: 0.5;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
  }
  &.loading {
    opacity: 0.8;
    pointer-events: none;
    cursor: progress;
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
  }
  .ti-counter {
    border-radius: 15px;
    color: #fff;
    background-color: theme-color("primary");
  }
}
#li-modal {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.64);
  z-index: 1000;
  display: none;
  &.active {
    display: block;
  }
  .w {
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    min-height: 200px;
    z-index: 1010;
    background-color: #fff;
    display: block;
    padding: 20px;
    .close {
      z-index: 9;
      position: relative;
    }
  }
}
.u-links {
  list-style: none;
  padding-left: 10px;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 20px;
  .u-link {
    margin-bottom: 10px;
    border-radius: 15px;
    a {
      color: theme-color("text");
      font-weight: 600;
    }
    .email {
      font-size: 12px;
      color: #adafba;
      display: block;
      font-weight: 500;
      margin-left: 55px;
      margin-top: -8px;
    }
  }
}
.li-create {
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
}
.t-l-create {
  legend {
    display: none;
  }
  ul.list-items {
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      display: flex;

      label {
        display: none;
      }
      .col-auto {
        width: 100%;
        position: relative;
      }
      .form-group {
        margin-bottom: 0;
        border-bottom: 1px dashed #ced4da;
      }
      div[id^="task_list_taskItems"], div[id^="task_list_counter_taskItems"] {
        width: 90%;

        .form-group {
          width: 50%;
          float: left;
          border: none;
        }
        input {
          border: none;
          &:focus {
            box-shadow: 0px 0px 0px 2px rgba(108, 93, 211, 0.25) inset;
          }
        }
      }
      .delete {
        position: absolute;
        right: 30px;
        -webkit-appearance: none;
        background: none;
        border: none;
        font-size: 20px;
        color: #f55b5b;
      }
    }
  }
}
.task-list-users {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
  label {
    display: none;
  }
  input.form-control {
    border: 1px solid transparent;
    user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    &:read-only {
      background-color: transparent;
    }
    &.active {
      border-color: #6c5dd3;
    }
  }
}
form[name="task_list"] {
  &>.form-group {
    display: none;
  }
}
.helper {
  font-size: 22px;
  position: relative;
  .helper-popup {
    font-size: 14px;
    display: none;
    position: absolute;
    padding: 15px;
    background: #fff;
    border: 1px solid #434345;
    border-radius: 15px;
    z-index: 99;
  }
  &:hover {
    .helper-popup {
      display: block;
    }
  }
}
.hidden-completed {
  .ti.completed {
    display: none;
  }
}
.hide-completed {
  margin-bottom: 15px;
  margin-right: 0;
  margin-left: 0;
}
@media (max-width: 991.98px) {
  .btn {
    min-width: 0;
  }
  .tls {
    .tl {
      .list-archive.btn, .list-delete.btn {
        font-size: 0;
        padding-left: 5px;
        padding-right: 5px;
        &:before {
          font-size: 18px;
        }
      }
    }
  }
}