.bg-layer {
  z-index: -100;
  pointer-events: none;
}
.public {
  .btn {
    font-size: 16px;
    border-width: 2px;
    padding: 11px 42px;
  }
  .navbar-nav .btn, .nav .btn {
    padding: 12px 34px;
  }
  .navbar {
    padding-top: 0;
    margin-bottom: 154px;
  }
  .welcome-header {
    font-size: 48px;
    font-weight: 900;
    span {
      color: theme-color("primary");
    }
  }
  .welcome-info {
    margin-top: 26px;
    margin-left: 31px;
    font-size: 22px;
    position: relative;
    color: #757889;
    &:before {
      display: block;
      content: "";
      position: absolute;
      left: -10px;
      top: -4px;
      height: 110%;
      width: 2px;
      background-color: theme-color("primary");
    }
  }
  a.sign-in {
    margin-top: 44px;
    margin-left: 0;
    padding: 14px 53px;
    font-size: 18px;
    position: relative;
    z-index: 9;
    &:after {
      display: block;
      content: "";
      position: absolute;
      left: 20px;
      top: 20px;
      height: 100%;
      width: 100%;
      border: 1px solid #6c5dd3;
      border-radius: 12px;
      z-index: -1;
      transition-duration: 0.3s;
    }
    &:hover {
      &:after {
        border-color: darken(theme-color("primary"), 10%);
      }
    }
  }
}
.home {
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url("/public/img/main/main.png");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position-x: calc(50% + 400px);
  .bg-container {
    position: relative;
    .top-bg {
      position: absolute;
      top: 0;
      left: -380px;
      background-image: url("/public/img/main/top-right.svg");
      height: 150px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .logo {
    padding-right: 0;
    padding-left: 0;
  }
  .menu {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-weight: 500;
    .link {
      display: flex;
      position: relative;
      align-self: center;
      text-transform: capitalize;
      padding: 12px;
      font-size: 16px;
      color: theme-color("primary");
      a {
        color: theme-color("primary");
      }
    }
  }
  .public {
    padding-bottom: 200px;
    padding-right: 0;
    padding-left: 0;
  }
}
.login-wrapper {
  position: relative;
  .login {
    background-color: #6c5dd3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
    overflow-x: visible;
    &:before {
      display: block;
      content: "";
      background-color: #fff;
      width: 80px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
  .main-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 1500px;
  }
  .navbar-header {
    position: absolute;
    z-index: 99;
  }
}
.login-main {
  .lang-dropdown {
    padding: 48px;
    a.dropdown-toggle {
      background-color: #fafafa;
      padding: 16px 34px;
      border-radius: 12px;
      font-weight: 600;
      color: #3f3f3f;
    }
  }
  .login-form {
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 42px;
  }
  label {
    display: block;
  }
  .forgot-pass {
    font-size: 12px;
    float: right;
  }
  .btn {
    &.social {
      border-width: 1px;
      font-size: 12px;
      font-weight: 400;
      padding: 10px 20px;
    }
    &.submit {
      width: 100%;
      margin-top: 3px;
      padding: 12px 27px;
      font-size: 16px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .sign-up-link {
    margin-top: 20px;
    font-weight: 500;
  }
  .social-or {
    margin-top: 24px;
    margin-bottom: 34px;
    position: relative;
    &:before {
      display: block;
      content: "";
      height: 2px;
      width: 200px;
      background-color: #e4e4e4;
      position: absolute;
      top: 10px;
      right: calc(50% + 30px);
    }
    &:after {
      display: block;
      content: "";
      height: 2px;
      width: 200px;
      background-color: #e4e4e4;
      position: absolute;
      top: 10px;
      left: calc(50% + 30px);
    }
  }
}
@media (max-width: 1399.98px) {
  .login-wrapper {
    .login {
      &:before {
        width: 60px;
      }
    }
    .main-img {
      width: 1200px;
    }
  }
}
@media (max-width: 1199.98px) {
  .login-main {
    .login-form {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
@media (max-width: 999.98px) {
  .public {
    .navbar {
      margin-bottom: 50px;
    }
  }
  .home {
    background-size: 800px;
    background-position-y: 170px;
    background-position-x: calc(50% + 200px);
  }
}
@media (max-width: 768px) {
  .home .bg-container .top-bg {
    left: -180px;
  }
  .public {
    .welcome-header {
      font-size: 36px;
    }
    .welcome-info {
      font-size: 16px;
    }
  }
  .mobile-header {
    .logo {
      background-color: theme-color("primary");
      margin-right: -15px;
      margin-left: -15px;
      padding: 10px 0;
      .img-fluid {
        height: 40px;
      }
    }
  }
}
@media (max-width: 576px) {
  .home .bg-container .top-bg {
    display: none;
  }
  .public {
    padding-right: 15px;
    padding-left: 15px;
    .btn {
      font-size: 14px;
      padding: 6px 14px;
    }
    .logo {
      background-color: theme-color("primary");
      padding: 10px 0;
      .img-fluid {
        height: 40px;
      }
    }
  }
  .home {
    .navbar {
      display: block;
      margin-bottom: 20px;
    }
    .menu {
      padding-top: 20px;
      .link {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 480px) {
  .login-main {
    .login-form {
      padding-left: 0;
      padding-right: 0;
    }
  }
}