{% extends 'v1/base.html.twig' %}

{% block title %}{{ 'list.archive'|trans }}{% endblock %}

{% block page_title_upper %}{% endblock %}
{% block page_title %}{{ 'list.archive'|trans }}{% endblock %}

{% block content %}
    {% if task_lists %}
        <form method="post" action="{{ path('task_list_archive_clear') }}" onsubmit="return confirm({{ 'validation.clear_archive'|trans }});">
            <input type="hidden" name="_method" value="POST">
            <input type="hidden" name="_token" value="{{ csrf_token('clear_archive') }}">
            <button class="btn-primary btn-lg btn">{{ 'list.archive_clear'|trans }}</button>
        </form>
        <div class="tls" id="tls">
            {% include 'v1/parts/private/list/list.html.twig' with {
                'task_lists': task_lists,
                'archive_item_forms': archive_item_forms,
                'load_more_link': load_more_link
            } %}
        </div>
    {% else %}
        {% include 'v1/common/no-result.html.twig' only %}
    {% endif %}
{% endblock %}