{% extends 'v1/task-list/create-base.html.twig' %}

{% block title %}{{ task_list.name }}{% endblock %}

{% block create_form %}
    <div class="col-sm-8">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <div class="white-block">
            <div class="row">
                <div class="form-group col-md-6">
                    <div class="container">
                        <label for="add-task-item-name">{{ 'task_item.name'|trans }}</label>
                        <input type="text" name="add-task-item-name" class="add-task-item-name form-control">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="container">
                        <label for="add-task-item-qty">{{ 'task_item.qty'|trans }}</label>
                        <input type="text" name="add-task-item-qty" class="add-task-item-qty form-control">
                    </div>
                </div>
                <button class="btn btn-primary add-task-item" data-collection-holder-class="list-items">
                    {{ 'task_item.add'|trans }}
                </button>
            </div>
            <ul class="list-items"
                data-prototype=
                    "<div class='form-group col-auto'>
                        {{ form_widget(form.taskItems.vars.prototype)|e('html_attr') }}
                    </div>"
                data-index="9999"
            >
                {% for taskItem in form.taskItems %}
                    <li>{{ form_row(taskItem) }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="li-modal">
            <div class="w">
                <div class="close text-right">
                    <span class="iconly-brokenClose-Square"></span>
                </div>
                <div class="data"></div>
            </div>
        </div>
        <div class="text-center">
            {{ form_row(form.save) }}
        </div>
    </div>
{% endblock %}
