{% extends 'v1/base.html.twig' %}

{% block title %}{{ task_list.name }}{% endblock %}

{% block content %}
    <div class="row {{ task_list.hideCompleted ? 'hidden-completed' : '' }}" id="task-list-view">
        <div class="col-sm-8">
            {% block task_list_title %}
                <h4>{{ task_list.name }}</h4>
                <p>{{ task_list.description|auto_url|raw|nl2br }}</p>
            {% endblock %}
            {% block hide_completed %}
                <div class="text-right">
                    <button class="hide-completed btn btn-primary">
                        {{ (task_list.hideCompleted ? 'list.show_completed' : 'list.hide_completed')|trans }}
                    </button>
                </div>
            {% endblock %}
            {% block task_items_list %}
                <div id="list-items">
                    {% include 'v1/task-item/task-item-list.html.twig'
                        with {'task_items': task_list.taskItems, 'complete_item_forms': complete_item_forms} %}
                </div>
            {% endblock %}
            {% block task_items_modal %}
                <div id="li-modal">
                    <div class="w">
                        <div class="close text-right">
                            <span class="iconly-brokenClose-Square"></span>
                        </div>
                        <div class="data"></div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col-sm-4 t-l-sidebar">
            {% block task_list_sidebar %}
                <div class="shared-users t-l-s-block">
                    <h5>{{ 'list.users'|trans }}</h5>
                    {% include 'v1/parts/private/list/shared-user.html.twig' %}
                </div>
                <div class="t-l-s-block">
                    <p>{{ 'list.created'|trans }}: {{ task_list.createdAt|date }}</p>
                    <p>{{ 'list.last_update'|trans }}: {{ task_list.updatedAt|date }}</p>
                    {% if app.user != task_list.creator %}
                        <p>List created by <b>{{ task_list.creator.nickname }}</b></p>
                    {% endif %}
                </div>
                <div class="t-l-s-block">
                    <a class="btn btn-outline-primary float-left" href="{{ path('task_list_edit', {'id': task_list.id}) }}">
                        {{ 'list.edit'|trans }}
                    </a>
                    {% if app.user == task_list.creator %}
                        {{ form(task_list_archive) }}
                    {% endif %}
                    <div class="clearfix"></div>
                    {% if task_list.isArchived %}
                        <div class="alert alert-warning">
                            {{ 'list.activate_list_to_edit'|trans }}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}