{% extends 'v1/html.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row wrapper">
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="navbar-header">
                    <div class="logo">
                        <a href="{{ path('index') }}">
                            <img class="img-fluid" src="{{ asset('img/logo.svg') }}" alt="{{ _site_name }}">
                        </a>
                    </div>
                </div>
                <div class="menus">
                    <div class="main-menu">
                        {{ knp_menu_render('main_menu', {'currentClass': 'active', 'ancestorClass': 'active'}) }}
                    </div>
                    <div class="f-u-block">
                        {% include('v1/parts/private/user/favourites-block.html.twig') %}
                    </div>
                </div>
            </nav>
            <main class="page-content">
                <div class="container in-frame pt-3">
                    {% set page_title_upper %}
                        {% block page_title_upper %}
                            {{ 'header.hi'|trans }} {{ app.user.nickname }},
                        {% endblock %}
                    {% endset %}
                    {% set page_title %}
                        {% block page_title %}
                            {{ 'header.welcome_back'|trans }}
                        {% endblock %}
                    {% endset %}
                    {% embed 'v1/parts/private/header.html.twig' with {
                        'page_title': page_title, 'page_title_upper': page_title_upper
                    } %}
                    {% endembed %}
                    <div class="container-fluid content">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message|raw|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
    {% include 'v1/parts/footer.html.twig' %}
{% endblock %}
