    <li class="u-link {{ active is defined ? 'active' : '' }}">
        <a href="{{ path('user_user', {'email': user.email}) }}">
            <span class="user-box small {{ user.color }}">{{ user.nickname|first|capitalize }}</span>
            {{ user.nickName }}
            {% if email is defined %}
                <span class="email">{{ user.email }}</span>
            {% endif %}
        </a>
    </li>