{% for task_list in task_lists %}
    {% include 'v1/parts/private/list/list-block.html.twig' with {
        'task_list': task_list,
        'archive_item_forms': archive_item_forms
    } %}
{% endfor %}
{% if task_lists|length == constant('App\\Repository\\TaskListRepository::PER_PAGE') %}
    {% set last_list = task_lists|last %}
    <div id="loader" data-url="{{ load_more_link }}" class="text-center">
        <button class="btn-primary btn">{{ 'list.load_more'|trans }}</button>
    </div>
{% endif %}