<div class="tl">
    <a href="{{ path('task_list_view', {'id': task_list.id}) }}" class="link mr-auto">
        {{ task_list.name }}
    </a>
    {% if task_list.shared|length > 0 %}
        <span class="iconly-brokenUser label shared"></span>
    {% endif %}
    {{ form(archive_item_forms[task_list.id]) }}
    {% include 'v1/common/_delete_form.html.twig' with {'item': task_list, 'path': 'task_list_delete'} %}
</div>