{% if app.user.favouriteUsers %}
    <ul class="u-links">
        {% for user in app.user.favouriteUsers %}
            {% if user in task_list.shared %}
                {% include 'v1/parts/private/user/user-block.html.twig' with {'email': true, 'active': true} %}
            {% else %}
                {% include 'v1/parts/private/user/user-block.html.twig' with {'email': true} %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}