{% extends 'v1/user/options_template.html.twig' %}

{% block title %}{{ 'menu.users'|trans }}{% endblock %}

{% block content %}
    {{ parent() }}
    {% if users %}
        {% for user in users %}
            <p class="well">
                <a class="mr-auto" href="{{ path('user_user', {'email': user.email}) }}">{{ user.email }}</a>
                {% include 'v1/parts/private/user/favourites-button.html.twig' with {'user': user} %}
                {% include 'v1/parts/private/user/block-button.html.twig' with {'user': user} %}
            </p>
        {% endfor %}
        {% if app.user.bannedUsers %}
            <h4>{{ 'user.blocked_users'|trans }}</h4>
        {% endif %}
        {% for user in app.user.bannedUsers %}
            <p class="well">
                <a class="mr-auto" href="{{ path('user_user', {'email': user.email}) }}">{{ user.email }}</a>
                {% include 'v1/parts/private/user/block-button.html.twig' with {'user': user} %}
            </p>
        {% endfor %}
    {% else %}
        {% include 'v1/common/no-result.html.twig' only %}
    {% endif %}
{% endblock %}